#timeline {
  display: grid;
  grid-column-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  margin-top: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#timeline .content-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column: span 4 / span 4;
}

#timeline .time-title {
  font-size: 1.125rem;
  line-height: 1.25;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 6rem;
}

#timeline .content-column.left .time-title {
  text-align: right;
}

#timeline .content-column.right .time-title {
  text-align: left;
}

#timeline .line-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1 / span 1;
}

#timeline .line-column .dot {
  --bg-opacity: 1;
  background-color: #c05621;
  background-color: rgba(192, 86, 33, var(--bg-opacity));
  --bg-opacity: 0.75;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px;
  min-height: 2.5rem;
  min-width: 2.5rem;
}

#timeline .line-column .line {
  --bg-opacity: 1;
  background-color: #7b341e;
  background-color: rgba(123, 52, 30, var(--bg-opacity));
  --bg-opacity: 0.25;
  height: 100%;
  width: 0.5rem;
  min-height: 5rem;
}

#timeline .content {
  padding: 1rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
  border-radius: 1rem;
}

#timeline .content-column.left .content {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#timeline .content-column.right .content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#timeline .content h4 {
  margin-bottom: 1rem;
}

#timeline .content .titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timeline .content-column.left .content .titles {
  flex-direction: row-reverse;
}

.skills {
  display: none;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.skills .skill {
  flex-grow: 1;
  align-items: center;
  padding: 0.5rem;
  margin: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.375rem;
  --bg-opacity: 1;
  background-color: #2b6cb0;
  background-color: rgba(43, 108, 176, var(--bg-opacity));
  --bg-opacity: 0.75;
}

.skills .skill:nth-child(2) {
  --bg-opacity: 1;
  background-color: #2f855a;
  background-color: rgba(47, 133, 90, var(--bg-opacity));
  --bg-opacity: 0.75;
}

.skills .skill:nth-child(3) {
  --bg-opacity: 1;
  background-color: #c05621;
  background-color: rgba(192, 86, 33, var(--bg-opacity));
  --bg-opacity: 0.75;
}

.skills .skill .main-skill {
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.skills .skill .sub-skill {
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --bg-opacity: 0.5;
  border-radius: 9999px;
  --text-opacity: 1;
  color: #2a4365;
  color: rgba(42, 67, 101, var(--text-opacity));
}

.skills .skill:nth-child(2) .sub-skill {
  --text-opacity: 1;
  color: #22543d;
  color: rgba(34, 84, 61, var(--text-opacity));
}

.skills .skill:nth-child(3) .sub-skill {
  --text-opacity: 1;
  color: #7b341e;
  color: rgba(123, 52, 30, var(--text-opacity));
}

@media (min-width: 768px) {
  #timeline .line-column {
    grid-column: span 1 / span 1;
  }

  .skills {
    display: block;
  }
}

@media (min-width: 1024px) {
  #timeline {
    grid-column-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  #timeline .content-column {
    grid-column: span 5 / span 5;
  }

  #timeline .line-column {
    grid-column: span 1 / span 1;
  }

  .skills {
    display: flex;
  }
}
