@tailwind base;

html {
	scroll-behavior: smooth;
}

body {
	@apply font-sans;
	@apply bg-gray-200;
}

body.deathstar {
	background-color: #f7fafc;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%232f855a' fill-opacity='0.22'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
	@apply text-white;
	@apply bg-blue-900;

	@apply p-4;

	@apply flex;
	@apply flex-wrap;
	@apply items-center;
	@apply justify-between;

	@apply shadow-2xl;

	min-height: 80px;
}

main {
	min-height: calc(100vh - 80px - 180px);
}

nav {
	@apply fixed;
	@apply top-0;
	@apply left-0;

	@apply h-screen;
	@apply w-screen;
	@apply bg-blue-900;

	@apply flex;
	@apply flex-col;

	@apply z-30;
	@apply mt-20;
}

a.nav-link {
	@apply py-1;
	@apply px-4;
	@apply my-1;
	@apply rounded-sm;
	@apply bg-white;
	@apply bg-opacity-0;
	@apply border-transparent;

	@apply text-lg;

	transition: all 200ms linear;
}

a.nav-link:hover {
	@apply bg-opacity-25;
}

a.nav-link.icon:hover {
	@apply bg-opacity-100;
	@apply text-green-700;
	@apply border-green-700;
}

a.nav-link.icon {
	@apply px-2;
	@apply my-0;
	@apply mx-1;
	@apply rounded-full;
	@apply border-4;
	@apply z-40;
}

button.icon-button {
	@apply p-3;
	@apply rounded-full;
	@apply transition-colors;
	@apply duration-75;
	@apply ease-linear;
}

button.icon-button:hover {
	@apply bg-white;
	@apply bg-opacity-25;
}

button.icon-button:focus {
	@apply outline-none;
}

i.hidden {
	@apply hidden;
}

@screen md {
	header {
		@apply justify-around;
	}

	nav {
		@apply flex-row;
		@apply relative;

		@apply justify-center;
		@apply items-center;

		@apply m-0;

		@apply h-auto;
		@apply w-auto;
		@apply bg-transparent;

		@apply text-base;
	}

	a.nav-link {
		@apply self-end;
		@apply px-2;
		@apply my-0;
		@apply mx-1;
		@apply border-4;
		@apply rounded;
	}
}

@tailwind components;
@tailwind utilities;
